.App-header {
  padding: 0.5rem 1rem 1rem 1rem;
  background-color: #75dbfa;
  min-height: 100vh;
  text-align: center;
  color: #033a48;
}
h3 {
  margin: 0 0 1.5rem 0;
}
h2 {
  font-size: 3rem;
  margin: 0 0 1rem 0;
}
h3 {
  font-size: 2.2rem;
  margin: 0 0 2rem 0;
}
.butterfly {
  margin: 3rem 0;
}
.milestones {
  margin-top: 2rem;
}